<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Kalambury</title>
  </head>
  <body>
    <h1>{{username}}</h1>
    <textarea id="log" cols="80" rows="25"></textarea><br />
    <input id="message-input" type="text" size="80" /><br />
    <input id="message-submit" type="button" value="Wyslij" />
    <div style="height:100px"></div>

    <input class="payload-send" onclick="sendPayload(this)" type="button" value="Send random message" data-payload='{"type":"ChatMessage", "message":"test"}'/>
    <input class="payload-send" onclick="sendPayload(this)" type="button" value="Change my username" data-payload='{"type":"ChangeUsername", "new_username":"Mam nowe imie"}'/>

    {{ room_code|json_script:"room-code" }}
    <script>
      const roomCode = JSON.parse(
        document.getElementById("room-code").textContent
      );

      const chatSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/room/" + roomCode + "/"
      );

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        document.querySelector("#log").value += data.Message + "\n";
      };

      document.querySelector("#message-submit").onclick = function (e) {
        const input = document.querySelector("#message-input");
        var user = "{{username}}";
        const msg = user + ": " + input.value;
        chatSocket.send(
          input.value
        );
        input.value = "";
      };

      chatSocket.onclose = function (e) {
        console.error("Error. Connection closed");
      };

      function sendPayload(element)
      {
        let payload = element.getAttribute('data-payload')
        console.log("Send to websocket: " + payload)
        chatSocket.send(
          payload
        );
      }

    </script>
  </body>
</html>
