body {
  background-color: #b5e7a0;
  position: relative;
  min-height: 100vh;
  user-select: none;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.inline {
  display: inline-flex;
}

.whiteboard {
  height: 600px;
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  border-radius: 15px;
  cursor: crosshair;
}

.colors {
  display: block;
  margin-right: 15px;
  cursor: pointer;
}

.color {
  height: 50px;
  width: 50px;
  transition: transform 0.5s ease-in-out;
}

.s-color {
  height: 50px;
  width: 50px;
  border: white solid 4px;
  box-sizing: border-box;
}

.color:hover {
  transform: rotate(0.05turn);
  transition: transform 0.5s ease-in-out;
}

.in {
  margin-top: 10px;
  width: 100%;
}

.in input {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  font-size: 15px;
  border: 0;
  padding: 0 20px;
  box-sizing: border-box;
  outline: none;
}

.in input:focus {
  border: 1px solid black;
}

.s-color.black,
.color.black {
  background-color: #3b3a30;
}
.s-color.red,
.color.red {
  background-color: #c94c4c;
}
.s-color.green,
.color.green {
  background-color: #82b74b;
}
.s-color.blue,
.color.blue {
  background-color: #034f84;
}
.s-color.yellow,
.color.yellow {
  background-color: #ffcc5c;
}
.s-color.pink,
.color.pink {
  background-color: pink;
}
.s-color.purple,
.color.purple {
  background-color: #6b5b95;
}
.s-color.orange,
.color.orange {
  background-color: #ff7b25;
}
.s-color.gray,
.color.gray {
  background-color: #ada397;
}

.selected-color {
  margin-top: 40px;
  margin-bottom: 5px;
  text-align: center;
  color: #191919;
  font-weight: 600;
}

.start-game {
  position: absolute;
  background-color: #c94c4c;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
}

.start-game:active {
  background-color: #d67676;
}

.start-game-on {
  display: none;
}

.cboard {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
